.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

body,
.row,
.col-md-9,
.col-lg-6,
.col-xl-5,
.form-outline,
.divider,
.btn-primary,
.form-check {
  background-color: #19c5bc !important;
}
